In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())
spreadsheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1vxUtdJeCsR6i_H-X2kocIPO3OK-M46LPMLrBdFx2Noo/edit?usp=sharing')

In [5]:
import pandas as pd
page = spreadsheet.sheet1
data = pd.DataFrame(page.get_all_records())
data

                   religion  <$10k  ...  >150k  Don't know/refused
0                  Agnostic     27  ...     84                  96
1                   Atheist     12  ...     74                  76
2                  Buddhist     27  ...     53                  54
3                  Catholic    418  ...    633                1489
4        Donâ€™t know/refused     15  ...     18                 116
5          Evangelical Prot    575  ...    414                1529
6                     Hindu      1  ...     54                  37
7   Historically Black Prot    228  ...     78                 339
8         Jehovah's Witness     20  ...      6                  37
9                    Jewish     19  ...    151                 162
10            Mainline Prot    289  ...    634                1328
11                   Mormon     29  ...     42                  69
12                   Muslim      6  ...      6                  22
13                 Orthodox     13  ...     46                  73
14          Other Christian      9  ...     12                  18
15             Other Faiths     20  ...     41                  71
16    Other World Religions      5  ...      4                   8
17             Unaffiliated    217  ...    258                 597

[18 rows x 11 columns]

In [9]:
dataset_religions=pd.melt(data, id_vars='religion',
        var_name='income', value_name='count')

In [10]:
dataset_religions

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Donâ€™t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]